<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>core</display-name>

	 <!--  
	      There are three means to configure Wickets configuration mode and they are
	      tested in the order given. 
	      1) A system property: -Dwicket.configuration
	      2) servlet specific <init-param>
	      3) context specific <context-param>
	      The value might be either "development" (reloading when templates change)
	      or "deployment". If no configuration is found, "development" is the default.
	-->
	
	<!--  which repositories are supported can you see here: http://www.openrdf.org/doc/sesame2/2.3.0/users/ch07.html#section-console-repository-creation
	-->
	<context-param>
		<param-name>repository.type</param-name>
		<param-value>remote</param-value>
	</context-param>
	<context-param>
		<param-name>repository.url</param-name>
		<param-value>http://swing.uni-muenster.de/openrdf-sesame/repositories/memory</param-value>
	</context-param> 
	<filter>
		<filter-name>wicket.core</filter-name>
 		<filter-class>sapience.core.wicket.CoreFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>sapience.core.wicket.ApplicationCore</param-value>
 		</init-param>
 	</filter>

 <filter-mapping>
  <filter-name>wicket.core</filter-name>
	<url-pattern>/*</url-pattern>
 </filter-mapping>

</web-app>
